@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap');

.LogoCenter {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 8vh;
}

.Heading {
    text-align: center;
    color: #301934;
    font-family: 'Kaushan Script', cursive;
    font-size: 52px;
}

.Desc {
    margin-bottom: 3vh;
    text-align: center;
}

.LoginStyle {
    padding: 5px;
}
